<footer class="container-fluid">
  <div class="row justify-content-center">
    <div class="social-media">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>

      <div class="footer-content text-center">
        <br />
        <a href="#" class="">Contact us</a>
        <a href="#" class="">Support</a>
        <br />
        &copy; Copyright. All rights reserved
      </div>
    </div>
  </div>
</footer>
